name: Generate Explanation

on:
  push:
    paths:
      - '**/solution.py'

jobs:
  generate_explanation:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v37

      - name: Get directory name of changed file
        id: dirname
        run: echo "dirname=$(dirname ${{ steps.changed-files.outputs.files }})" >> $GITHUB_OUTPUT

      - name: Run parse_solution.py
        run: |
          python parse_solution.py ${{ steps.dirname.outputs.dirname }}
        env:
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}

      - name: Commit changes
        run: |
          git config --global user.name "AayushGithub"
          git config --global user.email "aayushgandhi2001@gmail.com"
          git add .
          git commit -m "Added explanation for ${{ github.event_path }}" || true
          git push
